:root {
  --primary: #57af74;
  --bg: #ffffd0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "poppins", sans-serif;
  background-color: var(--bg);
  color: var(--primary);
  /*min-height: 2000px;*/
}

/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: #fff2d7;
  border-bottom: 1px solid #132218;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 900;
  color: #87a96b;
}

.navbar .navbar-nav a {
  color: #1a2421;
  display: inline-block;
  font-size: 1.4rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: var(--primary);
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

/* hero section */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url(../flavor/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero .content {
  padding: 1.4rem 7%;
  max-width: 60rem;
}

.hero .content h1 {
  font-size: 5em;
  color: var(--primary);
  text-shadow: 1px 1px 3px rgb(87, 175, 116);
}

.hero .content p {
  font-size: 1.4rem;
  line-height: 1, 4;
  font-weight: 400;
  text-shadow: #87a96b;
}

.hero .content .cta {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  color: #ffffd0;
  background-color: var(--primary);
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px #87a96b;
}

/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 85%;
  }
}

/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
    background-size: 60%;
  }
}

.navbar .navbar-nav.active {
  right: 0;
}

/* Handphone*/
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
